<!-- Begin | Header [[ Find at scss/framework/base/header/header.scss ]] -->
<header id="header" class="d-flex align-items-center {{headerClasses}}">
    <div class="position-relative d-flex align-items-center flex-grow-1">
        <button type="button" class="btn toggle-menu mr-3" id="openSidebar" (click)="openSidebar()">
            <span *ngFor="let number of [0,1,2]"></span>
        </button>

        <form id="searchForm" [formGroup]="searchForm" (submit)="doSearch()" autocomplete="off">
            <div class="position-relative">
                <button type="button" class="btn ion-ios-search"></button>
                <input formControlName="query" type="text" [placeholder]="(this.pressEnter ? 'header.search.subtitle' : 'header.search.title') | translate"
                     id="searchInput" class="form-control" (focusin)="toggleSearchFocus()" (focusout)="toggleSearchFocus()" autocomplpete="false">
            </div>
            <app-search></app-search>
        </form>

        <!-- Begin | Header Options -->
        <ul class="header-options d-flex align-items-center">
            <li>
                <a href="javascript:;" class="language" (click)="openLanguagesModal()">
                    <span>{{ 'header.language.title' | translate }}</span>
                    <img [src]="languageIcon" alt="">
                </a>
            </li>
            <li>
                <app-profile [user]="currentUser"></app-profile>
            </li>
        </ul>
        <!-- End | Header Options -->
    </div>
</header>
<!-- End | Header -->

<div class="backdrop header-backdrop" (click)="hideSearchResults()" #headerBackdrop></div>
