<div class="custom-card">
    <div class="custom-card--img card-img--radius-lg">
        <a class="custom-card--link">
            <content-loader 
                speed="2"
                width="300"
                height="300"
                viewBox="0 0 300 300"
                backgroundColor="#f3f3f3"
                foregroundColor="#ecebeb"
            >
                <svg:rect x="0" y="0" rx="2" ry="2" width="300" height="300" /> 
            </content-loader >         
        </a>
    </div>

    <a class="custom-card--link mt-2">
        <content-loader  
            speed="2"
            width="100"
            height="8"
            viewBox="0 0 100 8"
            backgroundColor="#f3f3f3"
            foregroundColor="#ecebeb"
        >
            <svg:rect x="0" y="0" rx="0" ry="0" width="75%" height="8" /> 
        </content-loader >
    </a>   
</div>