//== Import buttons configuration
@import "config";

//== Import buttons mixins
@import "mixins";

.btn,
button,
[type="button"],
[type="reset"],
[type="submit"] {
    &:focus {
        outline: none !important;
    }
}

.btn.btn-xs{
    padding: 0.325rem 1rem;
    font-size: 0.765625rem;
    line-height: 1;
    border-radius: 0.2rem;
}

.btn-fab{
    display: inline-flex;
    flex-direction: column;
    margin-left: .25rem;
    .btn{
        z-index: $zIndex-fab
    };
    .fabs{
        justify-items: center;
        position: absolute;
        z-index: $zIndex-fab;
        top: 4rem;
        margin-left: 3px;
        
        .btn{
            visibility: hidden;
            display: block;
            margin: 0 auto;        
            margin-top: .5rem;
            opacity: 0;            
            color: $white;
            transition: $transition-long;
        }

        &.show{
            .btn {
                visibility: visible;
                opacity: 1;
            }
        }
    };
}

// Default button styles
.btn-default {
    background-color: $white;

    &.btn-air {
        box-shadow: $btn-shadow rgba(theme-color(dark), .15);
    }

    @include hover-focus-active {
        background-color: theme-color(primary) !important;
        color: $white !important;
    }
}

.btn-default-air {
    @include plain-hover-focus {
        box-shadow: $btn-shadow rgba(theme-color(dark), .15);
    }
}

// Button text uppercase bold
.btn-bold {
    font-weight: map-get($font-weight, medium) !important;
    text-transform: uppercase;
}

.btn-pill {
    border-radius: $btn-pill-border-radius;
}

// Icon button styles
.btn-icon-only {
    padding: 0 !important;
    width: 2.5rem;
    height: 2.5rem;

    @include icons-style {
        @include icon-size($icon-size-base);
    }

    &.btn-sm {
        width: 2rem;
        height: 2rem;
        @include icons-style {
            @include icon-size($icon-size-base);
        }
    }

    &.btn-xs {
        width: 1rem;
        height: 1rem;
        @include icons-style {
            @include icon-size($icon-size-base);
        }
    }
}

.btn-inline {
    display: inline-flex;
    .btn + .btn {
        margin-left: .25rem;
    }
}

// Styling for social buttons
.btn-social {
    font-weight: map-get($font-weight, medium);
    text-align: center;
    @include  icons-style {
        @include icon-size(1.5rem);
    };
}

.btn-facebook {
    @include plain-hover-focus {
        background: #1877F2;
        color: white;
    }
}

.btn-twitter {
    @include plain-hover-focus {
        background: #00A2F3;
        color: white;
    }
}

.btn-tumblr {
    @include plain-hover-focus {
        background: #314358;
        color: white;
    }
}

.btn-whatsapp {
    @include plain-hover-focus {
        background: #24CC63;
        color: white;
    }
}

.btn-telegram {
    @include plain-hover-focus {
        background: #29A9EB;
        color: white;
    }
}

.btn-reddit {
    @include plain-hover-focus {
        background: #FF4500;
        color: white;
    }
}

.btn-pinterest {
    @include plain-hover-focus {
        background: #B7081B;
        color: white;
    }
}

// Generate color variant buttons
@each $button-name, $value in $theme-colors {
    .btn-#{$button-name} {
        @include btn-air($value);
    }

    .btn-outline-#{$button-name} {
        @include btn-air($value);
    }
}
