<!-- Begin | Footer [[ Find at scss/framework/base/footer/footer.scss ]] -->
<footer id="footer" class="bg-img">
    <div class="footer-content">
        <!-- <a class="email">info@listenapp.com</a> -->
        <div class="platform-btn-inline">
            <!-- <button *ngFor="let button of footerButtons" [class]="button.classes" (click)="showPrompt()">
                <i [class]="button.icon"></i>
                <span class="platform-btn-info">
                    <span class="platform-desc">{{ 'ui.availableon' | translate}}</span>
                    <span class="platform-name">{{button.subtitle}}</span>
                </span>
            </button>     -->
            <button *ngIf="installButton" class="btn btn-success install-btn" (click)="showPrompt()">
                <img src="assets/images/install.png" alt="isntall the app" />
                {{ 'ui.install' | translate}}
            </button>            
            <app-kofi></app-kofi>    
        </div>
    </div>
    <div class="footer-copy">
        <p class="text-center mt-4">&copy; {{ year }} Made with <i class="la la-heart"></i> by <strong><a href="https://oscarrc.me" target="_BLANK">Oscar R.C.</a></strong> All rights reserved.</p>
    </div>
</footer>
<!-- End | Footer -->
