<!-- Begin | Search Card [[ Find at scss/framework/base/search/search.scss ]] -->
<div class="search-card">
    <perfect-scrollbar class="vh-100">
        <!-- Begin | Search Result List -->
        <div class="search-item">
            <div class="search-item-header">
                <span class="search-item-title">Tracks</span>
                <a *ngIf="tracks?.matches.length" class="search-item-link ml-auto" (click)="goToPage('tracks')">View All</a>
            </div>
            <div class="search-item-body row">
                <div class="col-xl-4 col-sm-6 col-12" *ngFor="let track of tracks?.matches | slice:0:6">
                    <app-track-horizontal [track]="track" class="song-h song-h--sm"></app-track-horizontal>
                </div>
                <div *ngIf="!tracks?.matches.length" class="col-12 mb-2">                    
                    <p>No tracks found</p>
                </div>
            </div>
        </div>
        <!-- End | Search Result List -->
        
        <!-- Begin | Search Result List -->
        <div class="search-item">
            <div class="search-item-header">
                <span class="search-item-title">Artists</span>
                <a *ngIf="artists?.matches.length" class="search-item-link ml-auto" (click)="goToPage('artists')">View All</a>
            </div>
            <div class="search-item-body row">
                <div class="col-xl-2 col-md-4 col-6" *ngFor="let artist of artists?.matches | slice:0:6">
                    <app-image-card [item]="artist" [imageBorderRadiusClass]="'card-img--radius-md'"
                                    type="artist"></app-image-card>
                </div>
                <div *ngIf="!artists?.matches.length" class="col-12 mb-2">                    
                    <p>No artists found</p>
                </div>
            </div>
        </div>
        <!-- End | Search Result List -->

        <!-- Begin | Search Result List -->
        <div class="search-item">
            <div class="search-item-header">
                <span class="search-item-title">Albums</span>
                <a *ngIf="albums?.matches.length" class="search-item-link ml-auto" (click)="goToPage('albums')">View All</a>
            </div>
            <div class="search-item-body row">
                <div class="col-xl-2 col-md-4 col-6" *ngFor="let album of albums?.matches | slice:0:6">
                    <app-image-card [item]="album" [imageBorderRadiusClass]="'card-img--radius-md'"
                                    type="album"></app-image-card>
                </div>
                <div *ngIf="!albums?.matches.length" class="col-12 mb-2">                    
                    <p>No albums found</p>
                </div>
            </div>
        </div>
        <!-- End | Search Result List -->

        <!-- Begin | Search Result List -->
        <div class="search-item">
            <div class="search-item-header">
                <span class="search-item-title">Playlists</span>
                <a *ngIf="playlists?.matches?.length" class="search-item-link ml-auto" (click)="goToPage('playlists')">View All</a>
            </div>
            <div class="search-item-body row">
                <div class="col-xl-4 col-sm-6 col-12" *ngFor="let playlist of playlists?.matches | slice:0:6">
                    <app-description-card [item]="playlists.matches"  type="playlist"></app-description-card>
                </div>
                <div *ngIf="!playlists?.matches?.length" class="col-12 mb-2">                    
                    <p>No playlists found</p>
                </div>
            </div>
        </div>
        <!-- End | Search Result List -->
    </perfect-scrollbar>
</div>
<!-- End | Search Card -->
