<!-- Begin | Custom Card [[ Find at scss/framework/components/custom-card/custom-card.scss ]] -->
<div class="custom-card" *ngIf="track">
    <div [class]="classes">
        <!-- Begin | Custom Card Info -->
        <div class="custom-card--info" *ngIf="showOptions">
            <ul class="custom-card--labels d-flex" *ngIf="isFavorite()">
                <li (click)="addFavorite()"><span class="badge badge-pill badge-danger clickable"><i class="la la-heart"></i></span></li>
            </ul>
            <!-- Custom Card Options Dropdown -->
            <div class="dropdown dropdown-icon d-flex">                
                <a *ngIf="!isFavorite()" href="javascript:;" (click)="addFavorite()" role="button" >
                    <span class="badge badge-pill badge-transparent"><i class="la la-heart"></i></span>
                </a>
                <a class="ml-auto" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ion-md-more"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item">
                        <a class="dropdown-link" (click)="addFavorite()">
                            <i class="la la-heart-o"></i>
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="dropdown-link" (click)="addToPlayList()">
                            <i class="la la-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End | Custom Card Info -->
        <a (click)="addInPlayer()">
            <img [src]="track.image?.length ? track.image[track.image.length - 1] : 'assets/images/cover/large.png'" alt="{{track?.name}}">
        </a>
    </div>
    
    <a class="custom-card--link mt-2" [routerLink]="'/track/' + track.name + '/' + track.artist">
        <h6 class="text-truncate" title="{{track?.name}}">{{track?.name}}</h6>
        <p class="text-truncate" title="{{track?.artist}}" *ngIf="track?.artist">{{track?.artist}}</p>
    </a>
</div>
<!-- Begin | Custom Card [[ Find at scss/framework/components/custom-card/custom-card.scss ]] -->
