<span class="btn-fab">
    <button type="button" class="btn btn-pill btn-air btn-brand btn-icon-only" (click)="show = !show"><i class="la la-share-alt"></i></button>

    <span [ngClass]="{'show': show}" class="fabs">
        <button shareButton="twitter" [title]="title" [description]="description" [image]="image" [tags]="tags" type="button" class="ml-auto btn btn-pill btn-air btn-twitter btn-icon-only btn-sm"><i class="la la-twitter"></i></button>
        <button shareButton="facebook" [title]="title" [description]="description" [image]="image" [tags]="tags" type="button" class="ml-auto btn btn-pill btn-air btn-facebook btn-icon-only btn-sm"><i class="la la-facebook"></i></button>
        <button shareButton="instagram" [title]="title" [description]="description" [image]="image" [tags]="tags" type="button" class="ml-auto btn btn-pill btn-air btn-instagram btn-icon-only btn-sm"><i class="la la-instagram"></i></button>
        <button shareButton="reddit" [title]="title" [description]="description" [image]="image" [tags]="tags" type="button" class="ml-auto btn btn-pill btn-air btn-reddit btn-icon-only btn-sm"><i class="la la-reddit"></i></button>
        <button shareButton="whatsapp" [title]="title" [description]="description" [image]="image" [tags]="tags" type="button" class="ml-auto btn btn-pill btn-air btn-whatsapp btn-icon-only btn-sm"><i class="la la-whatsapp"></i></button>
        <button shareButton="telegram" [title]="title" [description]="description" [image]="image" [tags]="tags" type="button" class="ml-auto btn btn-pill btn-air btn-telegram btn-icon-only btn-sm"><i class="la la-send"></i></button>
        <button shareButton="email" [title]="title" [description]="description" [image]="image" [tags]="tags" type="button" class="ml-auto btn btn-pill btn-air btn-danger btn-icon-only btn-sm"><i class="la la-envelope"></i></button>
        <button shareButton="copy" [title]="title" [description]="description" [image]="image" [tags]="tags" type="button" class="ml-auto btn btn-pill btn-air btn-light btn-icon-only btn-sm"><i class="la la-copy"></i></button>
    </span>
</span>