<a class="btn btn-icon-only w-auto h-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i [class]="icon"></i>
</a>
<ul class="dropdown-menu">
    <li class="dropdown-item">
        <a class="dropdown-link" (click)="addFavorite()">
            <i class="la la-heart-o"></i>
            <span>{{ 'context.favorite' | translate }}</span>
        </a>
    </li>
    <li class="dropdown-item" *ngIf="trackIndex == null">
        <a class="dropdown-link" (click)="addToPlayList()">
            <i class="la la-plus"></i>
            <span>{{ 'context.addtoplaylist' | translate }}t</span>
        </a>
    </li>
    <li class="dropdown-item" *ngIf="trackIndex >= 0">
        <a class="dropdown-link" (click)="removeFromPlaylist()">
            <i class="la la-minus"></i>
            <span>{{ 'context.removefromplaylist' | translate }}</span>
        </a>
    </li>
    <li class="dropdown-item">
        <a class="dropdown-link" (click)="shareSong()">
            <i class="la la-share-alt"></i>
            <span>{{ 'context.share' | translate }}</span>
        </a>
    </li>
    <li class="dropdown-item">
        <a class="dropdown-link" [routerLink]="'/track/' + track?.name + '/' + track?.artist">
            <i class="la la-info-circle"></i>
            <span>{{ 'context.trackinfo' | translate }}</span>
        </a>
    </li>
</ul>
