<div class="song-list--item-number">{{trackNumber < 10 ? '0' + trackNumber : trackNumber}}</div>

<app-track-horizontal [track]="track" [imageBorderRadiusClass]="imageBorderRadiusClass" [imageSrc]="imageSrc" [playlist]="playlist"
                     [trackIndex]="trackIndex"></app-track-horizontal>

<ul class="custom-card--labels d-flex ml-auto">
    <li *ngIf="track?.favorite"><span class="badge badge-pill badge-danger"><i class="la la-heart"></i></span></li>
    <li *ngIf="track?.premium"><span class="badge badge-pill badge-warning"><i class="la la-star"></i></span></li>
    <li class="ml-4"><app-song-options [icon]="icon" [song]="track"></app-song-options></li>
</ul>
