<div class="song-list--item-number" [class]="{ 'text-primary': highlight >= 0 && highlight == trackIndex }">{{trackNumber < 10 ? '0' + trackNumber : trackNumber}}</div>

<app-track-horizontal [track]="track" [imageBorderRadiusClass]="imageBorderRadiusClass" [imageSrc]="imageSrc" [playlist]="playlist"
                     [trackIndex]="trackIndex"></app-track-horizontal>

<ul class="custom-card--labels d-flex ml-auto">
    <li *ngIf="isFavorite()"><span class="badge badge-pill badge-danger"><i class="la la-heart"></i></span></li>
    <li class="ml-4"><app-track-options [icon]="icon" [track]="track" [trackIndex]="trackIndex"></app-track-options></li>
</ul>
