<app-banner [backgroundImage]="trackDetails?.image | last" [blur]="true"></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <div *ngIf="trackDetails" class="row section text-center text-md-left">
        <div class="col-xl-3 col-lg-4 col-sm-5">
            <img [src]="(trackDetails?.image | last) || 'assets/images/cover/extralarge.png'" alt="{{trackDetails?.name}}" class="card-img--radius-lg">
        </div>
        <div class="col-xl-9 col-lg-8 col-sm-7">
            <div class="row pt-4">
                <div class="col-xl-8 col-lg-6">
                    <h5>{{trackDetails.name}}</h5>
                    <p><a routerLink="{{ '/artist/' +  trackDetails?.artist }}">{{trackDetails?.artist}}</a></p>
                    <p [innerHTML]="trackDetails?.wiki?.summary"></p>
                    <div class="text-warning tags">
                        <a routerLink="{{ '/tag/' +  tag }}" *ngFor="let tag of trackDetails?.tags"><span class="badge badge-pill badge-warning mr-2">{{tag | titlecase}}</span></a>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn btn-pill btn-air btn-bold btn-danger mr-2"
                                (click)="addToPlaylist()">{{ 'tracks.play' | translate }}</button>
                        <button *ngIf="trackDetails?.album" type="button" class="btn btn-pill btn-air btn-bold btn-success"
                                routerLink="{{ '/album/' +  trackDetails.album.name + '/' + trackDetails.album.artist }}">{{ 'tracks.viewalbum' | translate }}</button>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="pt-3 pt-lg-0 text-lg-right btn-inline">
                        <button (click)="addFavorite()" type="button" class="btn btn-pill btn-air btn-danger btn-icon-only"><i [ngClass]="isFavorite() ? 'la-heart' : 'la-heart-o'" class="la"></i></button>
                        <button (click)="addToPlaylist()"  type="button" class="btn btn-pill btn-air btn-warning btn-icon-only"><i class="la la-plus"></i></button>
                        <app-share [title]="trackDetails.name + ' by ' + trackDetails?.artist"
                                   [description]="'Listen to ' + trackDetails?.name + ' by ' + trackDetails?.artist"
                                   [image]="trackDetails?.image | last"
                                   [tags]="trackDetails.tags.join(',')"></app-share>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-section  *ngIf="similarTracks?.loading || trackDetails?.similar.length > 0" [section]="similarTracks" 
        [primaryCard]="true"
        carouselButtonPositionClass="arrow-pos-3"
        [showImageOptions]="true">
    </app-section>

</div>
<!-- End | Main Container -->
