.landing .it-client-ipp{
    display: none !important;
}

.it-client-ipp{    
    top: 4rem !important;
    right: 1.5rem !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}

@media (max-width: 720px){
    .it-client-ipp{
        padding-left: 3rem !important;
    }
}

.banner-ad{
    background: white;
}
    