<app-banner 
    [backgroundImage]="type == 'artists' ? (((this[type] | random)?.image?.background | random) || ((this[type] | random)?.images?.thumbnail | random)) 
        : (type == 'albums' || type == 'tracks' ? ((this[type] | random)?.image | last) 
        : (type == 'playlists' ? ( ( this[type]?.tracks | random )?.image|last) : ('')))"
    [blur]="type == 'albums' || type == 'tracks'">                        
</app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
  <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
    <div class="container-header d-flex justify-content-between">
        <span class="title">{{ 'tags.top' | translate:{ tag: tagName | translate | titlecase, type: (type+'.name') | translate | titlecase} }}</span>
        <div class="d-flex align-items-center">
            <a *ngIf="type == 'tracks'" class="icon" (click)="gridView = !gridView">
                <i class="ion-md-reorder" *ngIf="gridView; else gridViewButton"></i>
                <ng-template #gridViewButton>
                    <i class="ion-md-apps"></i>
                </ng-template>
            </a>
            <div class="ml-2">
                <button [disabled]="page==1" type="button" class="btn pr-2 btn-icon-only btn-transparent"  (click)="prevPage()"><i class="ion-md-arrow-back"></i></button>
                <button [disabled]="this[type].length == 0" type="button" class="btn btn-icon-only btn-transparent" (click)="nextPage()"><i class="ion-md-arrow-forward"></i></button>
            </div>
        </div>
    </div>
    <!-- End | Container header -->

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
        <div *ngIf="tracks && !loading" class="row custom-card-list">
            <ng-container *ngIf="gridView; else listView">
                <div class="col-6 col-xl-2 col-lg-4 col-sm-6" *ngFor="let track of tracks">
                    <app-primary-card [track]="track" [showOptions]="true"></app-primary-card>
                </div>
            </ng-container>
            <ng-template #listView>
                <div class="col-xl-6 col-lg-12" *ngFor="let track of tracks; let i = index">
                    <app-track-list-view [trackNumber]="(i + 1 + ((page - 1) * limit))" [track]="track" [icon]="'la-ellipsis-h'"></app-track-list-view>
                </div>
            </ng-template>
        </div>

        <div *ngIf="type =='tracks' && loading == true" class="row custom-card-list">
            <ng-container *ngIf="gridView; else listView">
                <div class="col-lg-5 col-sm-3 col-xl-2" *ngFor="let track of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]; let i = index">
                    <app-primary-card-loader></app-primary-card-loader>
                </div>
            </ng-container>
            <ng-template #listView>
                <div class="col-xl-6 col-lg-12" *ngFor="let track of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]; let i = index">
                    <app-track-list-view-loader [trackNumber]="(i + 1 + ((page - 1) * limit))"></app-track-list-view-loader>
                </div>
            </ng-template>
        </div>

        <div *ngIf="albums && !loading" class="row custom-card-list">
            <div class="col-6 col-xl-2 col-lg-4 col-sm-6" *ngFor="let album of albums">
                <app-image-card [item]="album" type="album"
                                [imageBorderRadiusClass]="'card-img--radius-md'"></app-image-card>
            </div>
        </div>

        <div *ngIf="type == 'albums' && loading == true"  class="row custom-card-list">
            <div class="col-xl-2 col-lg-4 col-sm-6 mb-4" *ngFor="let album of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] ">
                <app-primary-card-loader></app-primary-card-loader>
            </div>
        </div>

        <div *ngIf="artists && !loading" class="row custom-card-list">
            <div class="col-6 col-xl-2 col-lg-4 col-sm-6" *ngFor="let artist of artists">
                <app-image-card [item]="artist" [imageBorderRadiusClass]="'card-img--radius-md'" type="artist"></app-image-card>
            </div>
        </div>

        <div *ngIf="type == 'artists' && loading == true"  class="row custom-card-list">
            <div class="col-6 col-md-2 col-sm-4 col-xl-2 mb-4" *ngFor="let artist of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] ">
                <app-secondary-card-loader></app-secondary-card-loader>
            </div>
        </div>

        <div *ngIf="playlists && !loading" class="row custom-card-list">
            <div class="col-lg-5 col-sm-6" *ngFor="let playlist of playlists">
                <app-description-card [item]="playlist"  type="playlist"></app-description-card>
            </div>
        </div>

        <div *ngIf="type == 'playlists' && loading == true" class="row custom-card-list">
            <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let artist of [0, 1, 2, 3, 4, 5, 6, 7]">
                <app-description-card-loader></app-description-card-loader>
            </div>
        </div>
    </div>
    <!-- End | Section -->
</div>
<!-- End | Main Container -->
