<div class="modal-dialog theme-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header border-bottom-0 pb-0">
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <h6 class="modal-title text-center mb-3">Login into Tunrly.com</h6>
        <div class="modal-body">
            <form action="#" [formGroup]="login" class="mx-4 pb-2" (ngSubmit)="submitLogin(login)" [ngClass]="formSubmitted ? 'submitted' : ''">                
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">@</div>
                        </div>
                        <input type="text" formControlName="user" id="user" class="form-control" placeholder="Username or email" required>
                        <div class="invalid-feedback d-block text-right" *ngIf="formSubmitted">
                            <span *ngIf="login.controls.user.errors.required">Please fill this field</span>
                        </div>
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="ion-md-lock"></i></div>
                        </div>
                        <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password" minlength="4" required>
                        <div class="invalid-feedback d-block text-right" *ngIf="formSubmitted">
                            <span *ngIf="login.controls.password.errors.required">Please fill this field</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">                                            
                    <div class="input-group">
                        <div class="custom-control custom-radio custom-control-inline pt-2">
                            <input type="checkbox" id="remember" formControlName="remember" class="custom-control-input">
                            <label for="remember" class="custom-control-label">Remember me</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-bold btn-air btn-primary load-page">Login</button>
                <p class="text-center pt-4">Forgotten password? <a (click)="openForgotten()">Click here</a>.</p>
            </form>
        </div>
    </div>
</div>
