<app-banner></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container under-banner-content">
    <div class="row section" *ngIf="userProfile">
        <div class="col-xl-10 mx-auto">
            <div class="row">
                <div class="col-xl-4 col-md-5">
                    <div class="card h-auto">
                        <div class="card-body text-center">
                            <div class="avatar avatar-xl avatar-circle mx-auto mb-4" [style.background-color]="userProfile._id | toColor">
                                <img *ngIf="userProfile.image" [src]="userProfile.image" [alt]="userProfile.username">
                                <div *ngIf="!userProfile.image" class="initials">
                                    {{ userProfile.username | slice:0:2 | uppercase}}
                                </div>
                            </div>
                            <h6 class="mb-3">{{userProfile.name}}</h6>
                            <p  [ngClass]="imageSubmitted && imageForm.controls.image.errors?.requiredFileType ? 'text-danger' : ''" class="mb-1">Format: .png or .jpg</p>
                            <p [ngClass]="imageSubmitted && imageForm.controls.image.errors?.requiredSize ? 'text-danger' : ''" >Max size: 1MB</p>
                            <form action="#" [formGroup]="imageForm">
                                <label for="image" class="btn btn-danger btn-air">
                                    Change Image <input type="file" formControlName="image" id="image" hidden (change)="saveImage($event.target.files)">
                                </label>
                            </form>
                        </div>
                    </div>
                    
                    <div class="plan-info-card text-center px-sm-5 py-sm-4 p-3">
                        <h6>Have a LastFM account?</h6>
                        <p>Use it to scrobble your tracks!</p>
                        <button type="button" class="btn btn-pill btn-air btn-danger" routerLink="/plan">Login with LastFM</button>
                    </div>
                </div>
                <div class="col-xl-8 col-md-7">
                    <div class="card h-auto">
                        <div class="card-body">
                            <form action="#" [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm)" [ngClass]="profileSubmitted ? 'submitted' : ''" class="row">
                                <div class="col-12 form-group">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" id="email" name="email" class="form-control" formControlName="email">
                                    <div class="invalid-feedback d-block text-right" *ngIf="profileSubmitted">
                                        <span *ngIf="profileForm.controls.email.errors?.required">Please fill this field</span>
                                        <span *ngIf="profileForm.controls.email.errors?.email">Enter a valid email address</span>
                                    </div>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control" formControlName="firstname">
                                    <div class="invalid-feedback d-block text-right" *ngIf="profileSubmitted">
                                        <span *ngIf="profileForm.controls.firstname.errors?.required">Please fill this field</span>
                                    </div>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control" formControlName="lastname">
                                    <div class="invalid-feedback d-block text-right" *ngIf="profileSubmitted">
                                        <span *ngIf="profileForm.controls.lastname.errors?.required">Please fill this field</span>
                                    </div>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" id="username" name="username" class="form-control" formControlName="username">
                                    <div class="invalid-feedback d-block text-right" *ngIf="profileSubmitted">
                                        <span *ngIf="profileForm.controls.username.errors?.required">Please fill this field</span>
                                        <span *ngIf="profileForm.controls.username.errors?.pattern">Username must be between 5 and 15 characters long, start and end with a letter. Only (. - _) are permitted</span>
                                    </div>
                                    <div class="invalid-feedback d-block text-right">
                                        <span *ngIf="profileForm.controls.username.errors?.notAvailable">Username already taken</span>
                                    </div>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="loc" class="form-label">Location</label>
                                    <input type="text" id="loc" name="loc" class="form-control" formControlName="country">
                                </div>
                                <div class="col-12">
                                    <button *ngIf="edit" type="submit" class="btn btn-primary btn-air">Save Changes</button>
                                    <button *ngIf="!edit" (click)="toggleEdit()" type="button" class="btn btn-primary btn-air">Edit profile</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card h-auto">
                        <div class="card-body">
                            <form [formGroup]="passwordForm" (ngSubmit)="changePassword(passwordForm)" [ngClass]="passwordSubmitted ? 'submitted' : ''" class="row">
                                <div class="col-12">
                                    <label for="loc" class="form-label">Change your password</label>
                                </div>
                                <div class="col-xl-4 form-group">
                                    <input type="password" id="oldpassword" name="oldpassword" class="form-control" placeholder="Current Password" formControlName="oldpassword">
                                    <div class="invalid-feedback d-block text-right" *ngIf="passwordSubmitted">
                                        <span *ngIf="passwordForm.controls.password.errors?.required">Please fill this field</span>
                                        <span *ngIf="passwordForm.controls.password.errors?.pattern">Password must be between 8 - 15 characters length and contain, at least, one upper case letter, one lower case letter, and one numeric digit</span>
                                    </div>
                                </div>
                                <div class="form-group col-xl-4" >
                                    <input type="password" id="password" name="password" class="form-control" placeholder="New Password" formControlName="password">
                                    <div class="invalid-feedback d-block text-right" *ngIf="passwordSubmitted">
                                        <span *ngIf="passwordForm.controls.password.errors?.required">Please fill this field</span>
                                        <span *ngIf="passwordForm.controls.password.errors?.pattern">Password must be between 8 - 15 characters length and contain, at least, one upper case letter, one lower case letter, and one numeric digit</span>
                                    </div>
                                </div>
                                <div class="form-group col-xl-4">
                                    <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" placeholder="Repeat Password" formControlName="repeatpassword">
                                    <div class="invalid-feedback d-block text-right" *ngIf="passwordSubmitted">
                                        <span *ngIf="passwordForm.controls.repeatpassword.errors?.required && !passwordForm.errors?.equal">Please fill this field</span>
                                        <span *ngIf="passwordForm.errors?.equal">Passwords don't match</span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-air">Change Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End | Main Container -->
