<app-banner></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container under-banner-content">
    <div class="row section" *ngIf="userProfile">
        <div class="col-xl-10 mx-auto">
            <div class="row">
                <div class="col-xl-4 col-md-5">
                    <div class="card h-auto">
                        <div class="card-body text-center">
                            <div class="avatar avatar-xl avatar-circle mx-auto mb-4" [ngStyle]="{'background-color' : (!userProfile.image ? (userProfile._id | toColor) : 'none')}">
                                <img *ngIf="userProfile.image" [src]="userProfile.image" [alt]="userProfile.username">
                                <div *ngIf="!userProfile.image" class="initials">
                                    {{ userProfile.username | slice:0:2 | uppercase}}
                                </div>
                            </div>
                            <h6 class="mb-3">{{userProfile.name}}</h6>
                            <p  [ngClass]="imageSubmitted && imageForm.controls.image.errors?.requiredFileType ? 'text-danger' : ''" class="mb-1">{{ 'user.profile.imageformat' | translate }}</p>
                            <p [ngClass]="imageSubmitted && imageForm.controls.image.errors?.requiredSize ? 'text-danger' : ''" >{{ 'user.profile.imagesize' | translate }}</p>
                            <form action="#" [formGroup]="imageForm">
                                <label for="image" class="btn btn-danger btn-air">
                                    {{ 'user.profile.changeimage' | translate }} <input type="file" formControlName="image" id="image" hidden (change)="saveImage($event.target.files)">
                                </label>
                            </form>
                        </div>
                    </div>
                    
                    <div class="plan-info-card text-center px-sm-5 py-sm-4 p-3">
                        <h6>{{ 'user.profile.lastfmaccount' | translate }}</h6>
                        <p>{{ 'user.profile.lastfmaccounttext' | translate }}</p>
                        <button type="button" class="btn btn-pill btn-air btn-danger">{{ 'user.profile.lastfmlogin' | translate }}</button>
                    </div>
                </div>
                <div class="col-xl-8 col-md-7">
                    <div class="card h-auto">
                        <div class="card-body">
                            <form action="#" [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm)" [ngClass]="profileSubmitted ? 'submitted' : ''" class="row">
                                <div class="col-12 form-group">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" id="email" name="email" class="form-control" formControlName="email">
                                    <div class="invalid-feedback d-block text-right" *ngIf="profileSubmitted">
                                        <span *ngIf="profileForm.controls.email.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                        <span *ngIf="profileForm.controls.email.errors?.email">{{ 'errors.form.email' | translate }}</span>
                                    </div>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="firstName" class="form-label">{{ 'user.profile.firstname' | translate }}</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control" formControlName="firstname">
                                    <div class="invalid-feedback d-block text-right" *ngIf="profileSubmitted">
                                        <span *ngIf="profileForm.controls.firstname.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                    </div>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="lastName" class="form-label">{{ 'user.profile.lastname' | translate }}</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control" formControlName="lastname">
                                    <div class="invalid-feedback d-block text-right" *ngIf="profileSubmitted">
                                        <span *ngIf="profileForm.controls.lastname.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                    </div>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="username" class="form-label">{{ 'user.profile.username' | translate }}</label>
                                    <input type="text" id="username" name="username" class="form-control" formControlName="username">
                                    <div class="invalid-feedback d-block text-right" *ngIf="profileSubmitted">
                                        <span *ngIf="profileForm.controls.username.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                        <span *ngIf="profileForm.controls.username.errors?.pattern">{{ 'errors.form.username' | translate }}</span>
                                    </div>
                                    <div class="invalid-feedback d-block text-right">
                                        <span *ngIf="profileForm.controls.username.errors?.notAvailable">{{ 'errors.form.usertaken' | translate }}</span>
                                    </div>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="loc" class="form-label">{{ 'user.profile.country' | translate }}</label>
                                    <!-- <input type="text" id="loc" name="loc" class="form-control" formControlName="country"> -->
                                    <select class="form-control" name="country" id="country" formControlName="country">
                                        <option *ngFor="let country of countries.list" [value]="country.name">{{ country.name }}</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <app-button *ngIf="edit" type="submit" text="{{ 'user.profile.save' | translate }}" [loading]="profileLoading" classes="btn btn-primary btn-air"></app-button>
                                    <button *ngIf="!edit" (click)="toggleEdit()" type="button" class="btn btn-primary btn-air">{{ 'user.profile.edit' | translate }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card h-auto">
                        <div class="card-body">
                            <form [formGroup]="passwordForm" (ngSubmit)="changePassword(passwordForm)" [ngClass]="passwordSubmitted ? 'submitted' : ''" class="row">
                                <div class="col-12">
                                    <label for="loc" class="form-label">{{ 'user.profile.changepasswordtext' | translate }}</label>
                                </div>
                                <div class="col-xl-4 form-group">
                                    <input type="password" id="oldpassword" name="oldpassword" class="form-control" placeholder="{{ 'user.profile.currentpassword' | translate }}" formControlName="oldpassword">
                                    <div class="invalid-feedback d-block text-right" *ngIf="passwordSubmitted">
                                        <span *ngIf="passwordForm.controls.oldpassword.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                        <span *ngIf="passwordForm.controls.oldpassword.errors?.pattern">{{ 'errors.form.password' | translate }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-xl-4" >
                                    <input type="password" id="password" name="password" class="form-control" placeholder="{{ 'user.profile.newpassword' | translate }}" formControlName="password">
                                    <div class="invalid-feedback d-block text-right" *ngIf="passwordSubmitted">
                                        <span *ngIf="passwordForm.controls.password.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                        <span *ngIf="passwordForm.controls.password.errors?.pattern">{{ 'errors.form.password' | translate }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-xl-4">
                                    <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" placeholder="{{ 'user.profile.repeatpassword' | translate }}" formControlName="repeatpassword">
                                    <div class="invalid-feedback d-block text-right" *ngIf="passwordSubmitted">
                                        <span *ngIf="passwordForm.controls.repeatpassword.errors?.required && !passwordForm.errors?.equal">{{ 'errors.form.required' | translate }}</span>
                                        <span *ngIf="passwordForm.errors?.equal">{{ 'errors.form.passwordmatch' | translate }}</span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <app-button type="submit" text="{{ 'user.profile.changepassword' | translate }}" [loading]="passwordLoading" classes="btn btn-primary btn-air"></app-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End | Main Container -->
