<app-banner></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container under-banner-content">
    <div class="row section" *ngIf="userProfile">
        <div class="col-xl-10 mx-auto">
            <div class="row">
                <div class="col-xl-4 col-md-5">
                    <div class="card h-auto">
                        <div class="card-body text-center">
                            <div class="avatar avatar-xl avatar-circle mx-auto mb-4" [style.background-color]="userProfile._id | toColor">
                                <img *ngIf="userProfile.image" [src]="userProfile.image" [alt]="userProfile.username">
                                <div *ngIf="!userProfile.image" class="initials">
                                    {{ userProfile.username | slice:0:2 | uppercase}}
                                </div>
                            </div>
                            <h6 class="mb-3">{{userProfile.name}}</h6>
                            <p class="mb-1">Preferred: 420x420(px)</p>
                            <p>Minimum: 128x128(px)</p>
                            <button type="button" class="btn btn-danger btn-air">Change Image</button>
                        </div>
                    </div>
                    
                    <div class="plan-info-card text-center px-sm-5 py-sm-4 p-3">
                        <h6>Have a LastFM account?</h6>
                        <p>Use it to scrobble your tracks!</p>
                        <button type="button" class="btn btn-pill btn-air btn-danger" routerLink="/plan">Login with LastFM</button>
                    </div>
                </div>
                <div class="col-xl-8 col-md-7">
                    <div class="card h-auto">
                        <div class="card-body">
                            <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm)" [ngClass]="profileSubmitted ? 'submitted' : ''" class="row">
                                <div class="col-12 form-group">
                                    <label for="email" class="form-label">Email</label>
                                    <input disabled type="text" id="email" name="email" class="form-control" formControlName="email">
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input [disabled]="!edit" type="text" id="firstName" name="firstName" class="form-control" formControlName="firstname">
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input [disabled]="!edit" type="text" id="lastName" name="lastName" class="form-control" formControlName="lastname">
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="username" class="form-label">Username</label>
                                    <input [disabled]="!edit" type="text" id="username" name="username" class="form-control" formControlName="username">
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="loc" class="form-label">Location</label>
                                    <input [disabled]="!edit" type="text" id="loc" name="loc" class="form-control" formControlName="country">
                                </div>
                                <div class="col-12">
                                    <button *ngIf="edit" type="submit" class="btn btn-primary btn-air">Save Changes</button>
                                    <button *ngIf="!edit" (click)="toggleEdit()" type="button" class="btn btn-primary btn-air">Edit profile</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card h-auto">
                        <div class="card-body">
                            <form [formGroup]="passwordForm" (ngSubmit)="changePassword(passwordForm)" [ngClass]="passwordSubmitted ? 'submitted' : ''" class="row">
                                <div class="col-12">
                                    <label for="loc" class="form-label">Change your password</label>
                                </div>
                                <div class="col-xl-4 form-group">
                                    <input type="password" id="oldpassword" name="oldpassword" class="form-control" placeholder="Current Password" formControlName="oldpassword">
                                </div>
                                <div class="form-group" formGroupName="passgroup">
                                    <div class="col-xl-4">
                                        <input type="password" id="password" name="password" class="form-control" placeholder="New Password" formControlName="password">
                                        <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" placeholder="Repeat Password" formControlName="repeatpassword">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary btn-air">Changes Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End | Main Container -->
