<!-- Page Banner [[ Find at scss/base/core.scss ]] -->
<div class="banner bg-song"></div>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <div *ngIf="songDetails" class="row section text-center text-md-left">
        <div class="col-xl-3 col-lg-4 col-sm-5">
            <img [src]="songDetails.image.length > 0 ? songDetails.image[songDetails.image.length -1] : 'assets/images/cover/extralarge.png'" alt="{{songDetails?.name}}" class="card-img--radius-lg">
        </div>
        <div class="col-xl-9 col-lg-8 col-sm-7">
            <div class="row pt-4">
                <div class="col-xl-8 col-lg-6">
                    <h5>{{songDetails.name}}</h5>
                    <p><a routerLink="{{ '/artist/' +  songDetails?.artist }}">{{songDetails?.artist}}</a></p>
                    <p [innerHTML]="songDetails?.wiki?.summary"></p>
                    <div class="text-warning tags">
                        <a routerLink="{{ '/tag/' +  tag }}" *ngFor="let tag of songDetails?.tags"><span class="badge badge-pill badge-warning mr-2">{{tag | titlecase}}</span></a>
                    </div>
                    <span class="badge badge-pill badge-warning mt-3" *ngIf="songDetails.premium">Premium</span>
                    <div class="mt-4">
                        <button type="button" class="btn btn-pill btn-air btn-bold btn-danger mr-2"
                                (click)="addInPlayer()">Play</button>
                        <button type="button" class="btn btn-pill btn-air btn-bold btn-success"
                                routerLink="{{ '/album/' +  songDetails.album.name + '/' + songDetails.album.artist }}">View album</button>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="pt-3 pt-lg-0 text-lg-right btn-inline">
                        <button type="button" class="btn btn-pill btn-air btn-danger btn-icon-only"><i class="la la-heart-o"></i></button>
                        <button type="button" class="btn btn-pill btn-air btn-warning btn-icon-only"><i class="la la-plus"></i></button>
                        <button type="button" class="btn btn-pill btn-air btn-success btn-icon-only"><i class="la la-download"></i></button>
                        <button type="button" class="btn btn-pill btn-air btn-brand btn-icon-only"><i class="la la-share-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
        <!-- Begin | Line Tabs [[ Find at scss/framework/components/line-tabs.scss ]] -->
        <ul appLineTabs class="nav nav-tabs line-tabs line-tabs-primary text-uppercase mb-4" id="songDetails" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="lyrics-tab" data-toggle="tab" href="#lyrics" role="tab"
                   aria-controls="lyrics" aria-selected="false">Lyrics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="lyrics-tab" data-toggle="tab" href="#similar" role="tab" (click)="getSimilar()"
                   aria-controls="lyrics" aria-selected="false">Similar</a>
            </li>
        </ul>
        <!-- End | Line Tabs -->
        <!-- Begin | Tab Content -->
        <div class="tab-content" id="songDetailsContent">
            <div class="tab-pane fade show" id="lyrics" role="tabpanel" aria-labelledby="lyrics-tab">
                <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
                <div class="container-header d-flex pb-3">
                    <h6 class="mx-auto text-center">{{songDetails?.artist}}'s {{songDetails?.name}} lyrics</h6>
                </div>
                <!-- End | Container header -->
                <div class="row custom-card-list">
                    <div class="col-12 text-center"  [innerHTML]="songDetails?.lyrics">
                    </div>  
                </div>
            </div>
            <div class="tab-pane fade show" id="similar" role="tabpanel" aria-labelledby="similar-tab">                
                <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
                <div class="container-header d-flex justify-content-end pb-3">
                    <a class="btn btn-sm btn-pill btn-air btn-primary" routerLink="">View All</a>
                </div>
                <!-- End | Container header -->
                <div class="row custom-card-list">
                    <div class="col-xl-6 col-lg-12" *ngFor="let song of songDetails?.similar; let i = index">                    
                        <app-song-list-view [songNumber]="i+1" [song]="song"></app-song-list-view>
                    </div>  
                </div>         
            </div>
        </div>
        <!-- End | Tab Content -->
    </div>
    <!-- End | Section -->
</div>
<!-- End | Main Container -->
