<div class="right-sidebar-header d-flex align-items-center justify-content-between" (swiperight)="closePlaylist()">
    <span class="text-truncate">{{playlist.artist ? playlist.artist + ' - ' : ''}}{{playlist.name ? playlist.name : ('playlists.nowplaying' | translate) }} {{ playlist.user?.username ? "by " + playlist?.user?.username : ""}}</span>
    <span>
        <a *ngIf="modified" class="" [routerLink]="'/user/playlist'"><i class="la la-save"></i></a>
        <a *ngIf="playlist.tracks.length" class="pl-4" (click)="clearPlaylist()"><i class="la la-trash"></i></a>
    </span>
</div>
<perfect-scrollbar class="right-sidebar-body">
    <ul class="list-group list-group-flush song-list" *ngIf="playlist; else noDataFound">
        <!-- Begin | Custom List Item -->
        <li class="custom-list--item list-group-item" *ngFor="let track of playlist.tracks; let i = index" (click) = playTrack(i)>
            <app-track-list-view [trackNumber]="i+1" [track]="track" [icon]="'la-ellipsis-h'" [playlist]="playlist" [trackIndex]="i" [highlight]="nowPlaying" [imageSrc]="playlist?.image ? playlist?.image[0] : ''">
            </app-track-list-view>
        </li>
        <!-- End | Custom List Item -->
    </ul>
    <ng-template #noDataFound></ng-template>
</perfect-scrollbar>
