<app-banner></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
        <div class="heading">
            <div class="d-flex flex-wrap align-items-end">
                <div class="flex-grow-1">
                    <h4>{{tracks?.title}}</h4>
                    <p>{{tracks?.subTitle}}</p>
                </div>
                <span>
                    <button type="button" (click)="prevPage()" [disabled]="page == 1" class="btn pr-2 btn-icon-only btn-transparent"><i class="ion-md-arrow-back"></i></button>
                    <button type="button" (click)="nextPage()" [disabled]="tracks.list.length / limit <= page" class="btn btn-icon-only btn-transparent"><i class="ion-md-arrow-forward"></i></button>
                </span>
            </div>
            <hr>
        </div>
        <div class="row custom-card-list">
            <div class="col-xl-6 col-lg-12" *ngFor="let track of tracks.list | slice:(page-1)*limit:page*limit; let i = index">
                <app-track-list-view [trackNumber]="i+1" [track]="track" [icon]="'la-ellipsis-h'"></app-track-list-view>
            </div>
        </div>
    </div>
    <!-- End | Section -->
</div>
<!-- End | Main Container -->
