<div class="modal-dialog theme-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header border-bottom-0 pb-0">
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <h6 class="modal-title text-center mb-3">{{ title }}</h6>
        <div class="modal-body">
            <p class="text-center">We've sent an email to the provided address. Please check your inbox to activate your account</p>
            <p class="text-center"><strong>¿Didn't receive the email?</strong></p>
            <button (click)="sendValidation()" [disabled]="disabled" type="button" class="btn btn-block btn-bold btn-air btn-primary load-page">Try again</button>
        </div>
    </div>
</div>
