<div class="modal-dialog theme-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header border-bottom-0 pb-0">
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <h6 class="modal-title text-center mb-3">{{ title }}</h6>
        <div class="modal-body">
            <p class="text-center">{{ 'header.validation.text' | translate }}</p>
            <p class="text-center"><strong>{{ 'header.validation.didntreceive' | translate }}</strong></p>
            <button (click)="sendValidation()" [disabled]="disabled" type="button" class="btn btn-block btn-bold btn-air btn-primary load-page">{{ 'header.validation.tryagain' | translate }}</button>
        </div>
    </div>
</div>
