<app-banner [backgroundImage]="((artists | random)?.image?.background | random) || ((artists | random)?.image?.thumbnail | random) "></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
    <div class="container-header d-flex justify-content-between">
        <span class="title">{{ 'ui.browsetop' | translate:{ type: ('artists.name' | translate) } }} </span>
        <span>
            <button [disabled]="page==1" type="button" class="btn pr-2 btn-icon-only btn-transparent"  (click)="prevPage()"><i class="ion-md-arrow-back"></i></button>
            <button type="button" class="btn btn-icon-only btn-transparent" (click)="nextPage()"><i class="ion-md-arrow-forward"></i></button>
        </span>
    </div>
    <!-- End | Container header -->

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
        <div *ngIf="!loading"  class="row custom-card-list">
            <div class="col-6 col-md-2 col-sm-4 col-xl-2" *ngFor="let artist of artists">
                <app-image-card [item]="artist" [imageBorderRadiusClass]="'card-img--radius-md'" type="artist"></app-image-card>
            </div>
        </div>
        <div *ngIf="loading == true"  class="row custom-card-list">
            <div class="col-6 col-md-2 col-sm-4 col-xl-2 mb-4" *ngFor="let artist of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] ">
                <app-secondary-card-loader></app-secondary-card-loader>
            </div>
        </div>
    </div>
    <!-- End | Section -->
</div>
<!-- End | Main Container -->
