<app-banner [backgroundImage]="((topArtists?.items | random).image.background | random) || (topArtists?.items | random).image.thumbnail | random"></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <!-- Top Tracks -->
    <app-section *ngIf="topTracks.items.length" [section]="topTracks" [carouselButtonPositionClass]="carouselArrowPosClass3"
                 [primaryCard]="true" [showImageOptions]="true">
    </app-section>

    <!-- Top Artists -->
    <app-section *ngIf="topArtists.items.length" [section]="topArtists" [carouselButtonPositionClass]="carouselArrowPosClass2"
                 [imageCard]="true" type="artist">
    </app-section>

    <!-- New Release -->
    <!-- <app-section *ngIf="newRelease" [section]="newRelease" [carouselButtonPositionClass]="carouselArrowPosClass3"
                 [primaryCard]="true" [showImageOptions]="true">
    </app-section> -->

    <!-- Playlist -->
    <!-- <app-section *ngIf="playlist" [section]="playlist" [carouselButtonPositionClass]="carouselArrowPosClass1"
                 [secondaryCard]="true" [fourSlideCarousel]="true">
    </app-section> -->

    <!-- Retro -->
    <!-- <app-section *ngIf="retro" [section]="retro" [carouselButtonPositionClass]="carouselArrowPosClass3"
                 [primaryCard]="true" [showImageOptions]="true">
    </app-section> -->

    <!-- Radio -->
    <!-- <app-section *ngIf="radio" [section]="radio" [carouselButtonPositionClass]="carouselArrowPosClass2"
                 [imageCard]="true">
    </app-section> -->

    <!-- Tags -->
    <app-section *ngIf="topTags.items.length" [section]="topTags" [carouselButtonPositionClass]="carouselArrowPosClass1"
                 [secondaryCard]="true" type="tag">
    </app-section>
</div>
<!-- End | Main Container -->
