<app-banner [backgroundImage]="((topArtists?.items | random)?.image?.background | random) || ((topArtists?.items | random)?.image?.thumbnail | random)"></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <!-- Recommended -->
    <app-section  *ngIf="recommended?.loading || recommended?.items.length > 0" [section]="recommended" [carouselButtonPositionClass]="carouselArrowPosClass3"
                 [primaryCard]="true" [showImageOptions]="true">
    </app-section>

    <!-- History -->
    <app-section *ngIf="history?.loading || history?.items.length > 0" [section]="history" [carouselButtonPositionClass]="carouselArrowPosClass3"
                 [primaryCard]="true" [showImageOptions]="true">
    </app-section>

    <!-- Top Tracks -->
    <app-section  *ngIf="topTracks?.loading || topTracks?.items.length > 0" [section]="topTracks" [carouselButtonPositionClass]="carouselArrowPosClass3"
                 [primaryCard]="true" [showImageOptions]="true">
    </app-section>

    <!-- Top Artists -->
    <app-section  *ngIf="topArtists?.loading || topArtists?.items.length > 0" [section]="topArtists" [carouselButtonPositionClass]="carouselArrowPosClass2"
                 [imageCard]="true" type="artist">
    </app-section>

    <!-- Tags -->
    <app-section *ngIf="topTags?.loading || topTags?.items.length > 0" [section]="topTags" [carouselButtonPositionClass]="carouselArrowPosClass1"
                 [secondaryCard]="true" type="tag">
    </app-section>
</div>
<!-- End | Main Container -->
