<div id="wrapper">
    <perfect-scrollbar class="vh-100">
        <!-- Begin | Landing Page Banner [[ Find at scss/framework/base/pages/landing/landing.scss ]] -->
        <div class="banner landing-banner bg-landing" [style.background-image]="'url('+ backgroundImage + ')'">
            <header id="landing-header">
                <div class="container d-flex align-items-center py-3">
                <a routerLink="/home" class="brand">
                    <img [src]="brand.logo" alt="{{brand.name}}">
                </a>

                <ul class="header-auto-options ml-auto d-flex align-items-center">
                    <li><button type="button" class="btn btn-pill btn-air btn-sm btn-primary"
                                (click)="openLoginModal()">Login</button></li>
                </ul>
                </div>
            </header>
            <div class="banner-content">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-10 mx-lg-auto mx-4 text-center">
                            <h1>The only free music app</h1>
                            <p class="font-lg">Join now!</p>
                        </div>
                        <div class="col-lg-4 col-md-10 mx-lg-auto mx-4 text-center mt-4 mt-lg-0">
                            <div class="card card-frosted shadow pt-4">
                                <div class="card-body">
                                    <form action="#">
                                        <div class="form-row form-group">
                                            <div class="col-12 input-group">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text">@</div>
                                                </div>
                                                <input type="text" class="form-control" id="username" placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-12 input-group">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text"><i class="ion-md-mail"></i></div>
                                                </div>
                                                <input type="email" class="form-control" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-6 input-group">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text"><i class="ion-md-person"></i></div>
                                                </div>
                                                <input type="text" class="form-control" id="firstname" placeholder="First name">
                                            </div>
                                            <div class="col-6 input-group">
                                                <input type="text" class="form-control" id="lastname" placeholder="Last name">
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-6 input-group">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text"><i class="ion-md-lock"></i></div>
                                                </div>
                                                <input type="password" class="form-control" id="password" placeholder="Password">
                                            </div>
                                            <div class="col-6 input-group">
                                                <input type="password" class="form-control" id="repeatpassword" placeholder="Repeat password">
                                            </div>
                                        </div>
                                        <div class="form-row form-group">                                            
                                            <div class="col-12 input-group">
                                                <div class="custom-control custom-radio custom-control-inline pt-2">
                                                    <input type="checkbox" id="tac" name="eventType" class="custom-control-input">
                                                    <label for="free" class="custom-control-label">By creating an account I accept the terms and conditions.</label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-12 btn-inline d-flex align-items-center justify-content-between flex-column-reverse flex-lg-row">                                                                               
                                            <span class="pt-2 pt-lg-0">Already have an account? <a href="">Log in</a>.</span>
                                            <button type="button" class="btn btn-primary btn-air">JOIN NOW!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End | Landing Page Banner -->

        <!-- Begin | Landing Section [[ Find at scss/framework/base/pages/landing/landing.scss ]] -->
        <div class="landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto text-center mb-5">
                        <h3>Tunrly.com app is</h3>
                        <!-- <p class="font-md">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 text-center feature">
                                <img src="../../../../../assets/images/svg/music.svg" alt="">
                                <h5 class="mt-3">Free</h5>
                                <p>Enjoy your music without interruptions.</p>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center feature">
                                <img src="../../../../../assets/images/svg/event.svg" alt="">
                                <h5 class="mt-3">Legal</h5>
                                <p>We do not steal music from anyone.</p>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center feature">
                                <img src="../../../../../assets/images/svg/comment.svg" alt="">
                                <h5 class="mt-3">Multiplataform</h5>
                                <p>Runs in your browser, desktop or phone.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End | Landing Section -->

        <!-- Begin | Landing Section [[ Find at scss/framework/base/pages/landing/landing.scss ]] -->
        <div class="landing-section pt-0" *ngIf="trendingArtists.length > 0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto text-center mb-5">
                        <h3>We've All Trending Artists</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 mx-auto">
                        <ngx-slick-carousel class="carousel" [config]="sliderConfig">
                            <div ngxSlickItem *ngFor="let artist of trendingArtists" class="slide text-center">
                                <div class="avatar avatar-xl avatar-circle mx-auto">
                                    <img [src]="artist.cover_url" alt="{{artist.name}}">
                                </div>
                                <h6 class="mb-0 mt-2">{{artist.name}}</h6>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
        </div>
        <!-- End | Landing Section -->        

        <!-- Begin | Landing Section [[ Find at scss/framework/base/pages/landing/landing.scss ]] -->
        <!-- <div class="landing-section light-section" *ngIf="events.length > 0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto mb-5 text-center">
                        <h3>Upcoming Events</h3>
                        <p class="font-md">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-12 pb-4" *ngFor="let event of events">
                        <app-event-card [musicEvent]="event"></app-event-card>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- End | Landing Section -->       

        <app-footer></app-footer>
    </perfect-scrollbar>
</div>
