<div id="wrapper">
    <perfect-scrollbar class="vh-100">
        <!-- Begin | Landing Page Banner [[ Find at scss/framework/base/pages/landing/landing.scss ]] -->
        <div class="banner landing-banner bg-landing" [style.background-image]="'url('+ backgroundImage + ')'">
            <header id="landing-header">
                <div class="container d-flex align-items-center py-3">
                <a routerLink="/home" class="brand">
                    <img [src]="brand.logo" alt="{{brand.name}}">
                </a>

                <ul class="header-auto-options ml-auto d-flex align-items-center">
                    <li><button type="button" class="btn btn-pill btn-air btn-sm btn-primary"
                                (click)="openLoginModal()">{{ 'header.login.name' | translate }}</button></li>
                </ul>
                </div>
            </header>
            <div class="banner-content">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center">
                        <div class="align-self-center col-lg-4 col-md-10 mx-lg-auto mx-4 mt-4 text-center d-none d-lg-block">
                            <img src="assets/images/mockup.png" alt="Tunrly.com free music app"/>
                        </div>
                        <div class="col-lg-4 col-md-10 mx-lg-auto mx-4 text-center mt-4 mt-lg-0">                            
                            <h1 class="pb-4">{{ 'landing.title' | translate }}</h1>
                            <form action="#" [formGroup]="registration" (ngSubmit)="register(registration)" [ngClass]="formSubmitted ? 'submitted' : ''">
                                <div class="card card-frosted shadow mt-4 pt-4">
                                    <div class="card-body">
                                        <div class="form-row form-group">
                                            <div class="col-12 input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">@</div>
                                                </div>
                                                <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username">
                                                <div class="invalid-feedback d-block text-right" *ngIf="formSubmitted">
                                                    <span *ngIf="registration.controls.username.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                                    <span *ngIf="registration.controls.username.errors?.pattern">{{ 'errors.form.username' | translate }}</span>
                                                </div>
                                                <div class="invalid-feedback d-block text-right">
                                                    <span *ngIf="registration.controls.username.errors?.notAvailable">{{ 'errors.form.usertaken' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-12 input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="ion-md-mail"></i></div>
                                                </div>
                                                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                                                <div class="invalid-feedback d-block text-right" *ngIf="formSubmitted">
                                                    <span *ngIf="registration.controls.email.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                                    <span *ngIf="registration.controls.email.errors?.email">{{ 'errors.form.email' | translate }}</span>
                                                </div>
                                                <div class="invalid-feedback d-block text-right">
                                                    <span *ngIf="registration.controls.email.errors?.notAvailable">{{ 'errors.form.emailtaken' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-6 input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="ion-md-person"></i></div>
                                                </div>
                                                <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="{{'landing.register.firstname' | translate}}">
                                                <div class="invalid-feedback d-block text-right" *ngIf="formSubmitted">
                                                    <span *ngIf="registration.controls.firstname.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-6 input-group">
                                                <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="{{'landing.register.lastname' | translate}}">
                                                <div class="invalid-feedback d-block text-right" *ngIf="formSubmitted">
                                                    <span *ngIf="registration.controls.lastname.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row form-group" formGroupName="passgroup">
                                            <div class="col-6 input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="ion-md-lock"></i></div>
                                                </div>
                                                <input type="password" class="form-control" id="password" formControlName="password" placeholder="{{'landing.register.password' | translate}}">
                                                <div class="invalid-feedback d-block text-right" *ngIf="formSubmitted">
                                                    <span *ngIf="registration.controls.passgroup.controls.password.errors?.required">{{ 'errors.form.required' | translate }}</span>
                                                    <span *ngIf="registration.controls.passgroup.controls.password.errors?.pattern">{{ 'errors.form.password' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-6 input-group">
                                                <input type="password" class="form-control" id="repeatpassword" formControlName="repeatpassword" placeholder="{{'landing.register.repeatpassword' | translate}}">
                                                <div class="invalid-feedback d-block text-right" *ngIf="formSubmitted">
                                                    <span *ngIf="registration.controls.passgroup.controls.repeatpassword.errors?.required && !registration.controls.passgroup.errors?.equal">{{ 'errors.form.required' | translate }}</span>
                                                    <span *ngIf="registration.controls.passgroup.errors?.equal">{{ 'errors.form.passwordmatch' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">                                            
                                            <div class="col-12 input-group">
                                                <div class="custom-control custom-radio custom-control-inline pt-2">
                                                    <input type="checkbox" id="tac" formControlName="tac" name="eventType" class="custom-control-checkbox custom-control-input">
                                                    <label for="free" class="custom-control-label text-left">{{ 'landing.register.tac' | translate }}</label>                                                    
                                                </div>
                                                <div class="invalid-feedback d-block text-left pl-4" *ngIf="formSubmitted">
                                                    <span *ngIf="registration.controls.tac.errors?.required">{{ 'errors.form.tac' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-12 btn-inline d-flex align-items-center justify-content-between flex-column-reverse flex-lg-row">                                                                               
                                                <span class="pt-2 pt-lg-0">{{ 'landing.register.haveaccount' | translate }} <a (click)="openLoginModal()">{{ 'header.login.name' | translate }}</a>.</span>
                                                <app-button type="submit" text="{{ 'landing.register.joinnow' | translate }}" [loading]="loading" classes="btn btn-primary btn-air"></app-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End | Landing Page Banner -->

        <!-- Begin | Landing Section [[ Find at scss/framework/base/pages/landing/landing.scss ]] -->
        <div class="landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto text-center mb-5">
                        <h3>Tunrly.com app is</h3>
                        <!-- <p class="font-md">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 text-center feature">
                                <img src="../../../../../assets/images/svg/music.svg" alt="">
                                <h5 class="mt-3">Free</h5>
                                <p>Enjoy your music without interruptions.</p>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center feature">
                                <img src="../../../../../assets/images/svg/event.svg" alt="">
                                <h5 class="mt-3">Legal</h5>
                                <p>We do not steal music from anyone.</p>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center feature">
                                <img src="../../../../../assets/images/svg/comment.svg" alt="">
                                <h5 class="mt-3">Multiplataform</h5>
                                <p>Runs in your browser, desktop or phone.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End | Landing Section -->  
        <app-footer></app-footer>
    </perfect-scrollbar>
</div>
