<app-banner [backgroundImage]="(artistDetails?.image?.background | random) || (artistDetails?.images?.thumbnail | random)"></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container" [ngClass]="loading ? 'content-blur' : ''">
    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="row section text-center text-md-left">
        <div class="col-xl-3 col-lg-4 col-sm-5">
            <img [src]="(artistDetails?.image?.thumbnail | random) || (artistDetails?.image?.background | random) || 'assets/images/cover/extralarge.png'" alt="{{artistDetails?.name}}" class="card-img--radius-lg">
        </div>
        <div class="col-xl-9 col-lg-8 col-sm-7">
            <div class="row pt-4">
                <div class="col-xl-8 col-lg-6">
                    <h5>{{artistDetails?.name}}</h5>
                    <p [innerHTML]="artistDetails?.wiki?.summary"></p>                                       
                    <div class="text-warning tags mb-4">
                        <a routerLink="{{ '/tag/' +  tag }}" *ngFor="let tag of artistDetails?.tags"><span class="badge badge-pill badge-warning mr-2">{{tag | titlecase}}</span></a>
                    </div>
                    <div class="mt-4">
                      <button type="button" class="btn btn-pill btn-air btn-bold btn-danger"
                              (click)="playAllSongs()">{{ 'ui.playall' | translate }}</button>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="pt-3 pt-lg-0 text-lg-right btn-inline">
                        <button (click)="addFavorite()" class="btn btn-pill btn-air btn-danger btn-icon-only"><i [ngClass]="isFavorite() ? 'la-heart' : 'la-heart-o'" class="la"></i></button>
                        <button type="button" (click)="doShare()" class="btn btn-pill btn-air btn-brand btn-icon-only"><i class="la la-share-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End | Section -->

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
        <!-- Begin | Line Tabs [[ Find at scss/framework/components/line-tabs.scss ]] -->
        <ul appLineTabs class="nav nav-tabs line-tabs line-tabs-primary text-uppercase mb-4" id="artistDetails" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="track-tab" data-toggle="tab" href="#track" role="tab" (click)="getTracks()"
                   aria-controls="track" aria-selected="true">{{ 'tracks.top' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="album-tab" data-toggle="tab" href="#album" role="tab" (click)="getAlbums()"
                   aria-controls="album" aria-selected="false">{{ 'albums.top' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="similar-tab" data-toggle="tab" href="#similar" role="tab" (click)="getSimilar()"
                   aria-controls="similar" aria-selected="false">{{ 'artists.similar' | translate }}</a>
            </li>
        </ul>
        <!-- End | Line Tabs -->

        <!-- Begin | Tab Content -->
        <div class="tab-content" id="artistDetailsContent">
            <div class="tab-pane fade show active" id="track" role="tabpanel" aria-labelledby="track-tab">
                <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
                <div class="container-header d-flex justify-content-end pb-3">
                    <a class="btn btn-sm btn-pill btn-air btn-primary" [routerLink]="'/artist/' + artistDetails?._id + '/tracks'">{{ 'ui.viewall' | translate }}</a>
                </div>
                <!-- End | Container header -->
                <div class="row custom-card-list" *ngIf="!loadingTracks">
                    <div class="col-xl-6 col-lg-12" *ngFor="let track of artistDetails?.tracks; let i = index">                    
                        <app-track-list-view [trackNumber]="i+1" [track]="track"></app-track-list-view>
                    </div>  
                </div>

                <div *ngIf="loadingTracks == true" class="row custom-card-list">
                    <div class="col-xl-6 col-lg-12" *ngFor="let track of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; let i = index">
                        <app-track-list-view-loader [trackNumber]="i+1"></app-track-list-view-loader>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="album" role="tabpanel" aria-labelledby="album-tab">
                <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
                <div class="container-header d-flex justify-content-end pb-3">
                    <a class="btn btn-sm btn-pill btn-air btn-primary" [routerLink]="'/artist/' + artistDetails?._id + '/albums'">{{ 'ui.viewall' | translate }}</a>
                </div>
                <!-- End | Container header -->
                <div class="row custom-card-list" *ngIf="!loadingAlbums">
                    <div class="col-6 col-md-2 col-sm-4 mb-4" *ngFor="let album of artistDetails?.albums">
                        <app-image-card [item]="album" [imageBorderRadiusClass]="imageBorderRadiusClass"
                            type="album"></app-image-card>
                    </div>
                </div>

                <div *ngIf="loadingAlbums == true"  class="row custom-card-list">
                    <div class="col-6 col-md-2 col-sm-4 col-xl-2 mb-4" *ngFor="let artist of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] ">
                        <app-secondary-card-loader></app-secondary-card-loader>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="similar" role="tabpanel" aria-labelledby="similar-tab">
                <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
                <div class="container-header d-flex justify-content-end pb-3">
                    <a class="btn btn-sm btn-pill btn-air btn-primary" [routerLink]="'/artist/' + artistDetails?._id + '/similar'">{{ 'ui.viewall' | translate }}</a>
                </div>
                <!-- End | Container header -->
                <div class="row custom-card-list" *ngIf="!loadingSimilar">
                    <div class="col-6 col-md-2 col-sm-4 mb-4" *ngFor="let artist of artistDetails?.similar">
                        <app-image-card [item]="artist" [imageBorderRadiusClass]="imageBorderRadiusClass"
                            type="artist"></app-image-card>
                    </div>
                </div>

                <div *ngIf="loadingSimilar == true"  class="row custom-card-list">
                    <div class="col-6 col-md-2 col-sm-4 col-xl-2 mb-4" *ngFor="let artist of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] ">
                        <app-secondary-card-loader></app-secondary-card-loader>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin | Tab Content -->
    </div>
    <!-- End | Section -->
</div>
