<!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
<div class="section">
    <div class="heading">
        <div class="d-flex flex-wrap align-items-end">
            <div class="flex-grow-1">
                <h4>{{section?.title | translate | titlecase}}</h4>
                <p>{{section?.subTitle | translate}}</p>
            </div>
            <a class="btn btn-sm btn-pill btn-air btn-primary" routerLink="{{section?.page}}">View All</a>
        </div>
        <hr>
    </div>
    <ngx-slick-carousel *ngIf="!section.loading" [class]="classes" [config]="sliderConfig">        
        <div ngxSlickItem *ngFor="let item of section?.items" class="slide">
            <app-image-card *ngIf="imageCard" [item]="item" [type]="type" [imageBorderRadiusClass]="imageBorderRadiusClass"></app-image-card>

            <app-primary-card *ngIf="primaryCard" [track]="item" [showOptions]="showImageOptions"
                              [imageBorderRadiusClass]="imageBorderRadiusClass"></app-primary-card>

            <app-secondary-card *ngIf="secondaryCard" [item]="item" [type]="type" [imageBorderRadiusClass]="imageBorderRadiusClass">
            </app-secondary-card>

            <app-description-card *ngIf="descriptionCard" [item]="item" [type]="type">
            </app-description-card>
        </div>
    </ngx-slick-carousel>

    <ngx-slick-carousel *ngIf="section.loading" [class]="classes" [config]="sliderConfig">        
        <div ngxSlickItem *ngFor="let item of [0,1,2,3,4,5]" class="slide">
            <app-primary-card-loader *ngIf="primaryCard"></app-primary-card-loader>
            <app-secondary-card-loader *ngIf="secondaryCard || imageCard"></app-secondary-card-loader>
            <app-description-card-loader *ngIf="descriptionCard"></app-description-card-loader>
        </div>
    </ngx-slick-carousel>
</div>
<!-- End | Section -->
