<app-banner [backgroundImage]="(playlistDetails?.tracks | random)?.image | last" [blur]="true"></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container" [ngClass]="loading ? 'content-blur' : ''">
    <div class="row section text-center text-md-left">
        <div class="col-xl-3 col-lg-4 col-sm-5">
            <img [src]="playlistDetails?.image || ((playlistDetails?.tracks | random)?.image | last ) || 'assets/images/cover/extralarge.png'" alt="{{playlistDetails?.name}}" class="card-img--radius-lg">
        </div>
        <div class="col-xl-9 col-lg-8 col-sm-7">
            <div class="row pt-4">
                <div class="col-xl-8 col-lg-6">
                    <h5>{{playlistDetails?.name}}</h5>
                    <p *ngIf="playlistDetails?.user?.username">by <a routerLink="{{ '/user/' +  playlistDetails.user.username + '/profile' }}">{{playlistDetails?.user?.username}}</a></p>
                    <p [innerHTML]="playlistDetails?.description"></p> 
                    <div class="text-warning tags mb-4">
                        <a routerLink="{{ '/tag/' +  tag }}" *ngFor="let tag of playlistDetails?.tags"><span class="badge badge-pill badge-warning mr-2">{{tag | titlecase}}</span></a>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn btn-pill btn-air btn-bold btn-danger"
                                (click)="playAllSongs()">{{ 'ui.playall' | translate }}</button>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="pt-3 pt-lg-0 text-lg-right btn-inline">
                        <button (click)="addFavorite()" type="button" class="btn btn-pill btn-air btn-danger btn-icon-only"><i [ngClass]="isFavorite() ? 'la-heart' : 'la-heart-o'" class="la "></i></button>
                        <button type="button" (click)="doShare()" class="btn btn-pill btn-air btn-brand btn-icon-only"><i class="la la-share-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="row section custom-card-list">
        <div class="col-xl-6 col-lg-12" *ngFor="let track of playlistDetails?.tracks; let i = index">
            <app-track-list-view [trackNumber]="i+1" [track]="track" [imageSrc]="track.image[0]" [icon]="'la-ellipsis-h'"></app-track-list-view>
        </div>
    </div>
    <!-- End | Section -->
</div>
<!-- End | Main Container -->
