<div class="modal-dialog theme-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header border-bottom-0 pb-0">
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <h6 class="modal-title text-center">Forgotten password?</h6>
        <div class="modal-body">
            <form action="#" [formGroup]="forgotten" class="mx-4 pb-2" (ngSubmit)="submitForgotten(forgotten)" [ngClass]="formSubmitted ? 'submitted' : ''">                
                <div class="form-group">
                    <label class="mb-4">Enter your username or email and we'll send you an email to reset your password.</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">@</div>
                        </div>
                        <input type="text" formControlName="user" id="user" class="form-control" placeholder="Username or email" required>
                        <div class="invalid-feedback" *ngIf="(formSubmitted && user.invalid) && (user.dirty || user.touched)" ngClass="d-block">
                            <span *ngIf="user.errors.required">Please fill this field</span>
                        </div>
                    </div>                    
                </div>
                
                <button type="submit" class="btn btn-block btn-bold btn-air btn-primary load-page mt-4">Submit</button>
            </form>
        </div>
    </div>
</div>
