<perfect-scrollbar style="height: 100vh">
    <header id="landing-header">
        <div class="container d-flex align-items-center py-3">
            <a routerLink="/home" class="brand">
                <img [src]="brand.logo" alt="{{ brand.name }}">
            </a>
        </div>
    </header>
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="text-center px-3">
            <h1 class="display-2">404</h1>
            <p>{{ 'errors.page.unavailable' | translate }}<br>{{ 'errors.page.changed' | translate }}</p>
            <button type="button" routerLink="/home" class="load-page btn btn-pill btn-air btn-brand">{{ 'ui.gotohome' | translate }}</button>
        </div>
    </div>
</perfect-scrollbar>