<app-banner [backgroundImage]="((favorites.artist | random)?.image.background | random) || 
                                ((favorites.artist | random)?.image.thumbnail | random) ||
                                ((favorites.track | random)?.image | last) ||
                                ((favorites.album | random)?.image | last) ||
                                (((favorites.playlist | random)?.tracks | random)?.image | last) || null"
                                [blur]="favorites.artist.length == 0"></app-banner>
<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
        <div class="mt-4 pt-4">
            <!-- Begin | Line Tabs [[ Find at scss/framework/components/line-tabs.scss ]] -->
            <ul appLineTabs class="nav nav-tabs line-tabs line-tabs-primary text-uppercase my-4" id="favorites" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="track-tab" data-toggle="tab" href="#tracks" role="tab"
                    aria-controls="track" aria-selected="true">Tracks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="album-tab" data-toggle="tab" href="#albums" role="tab"
                    aria-controls="album" aria-selected="false">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="similar-tab" data-toggle="tab" href="#artists" role="tab"
                    aria-controls="similar" aria-selected="false">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="similar-tab" data-toggle="tab" href="#playlists" role="tab"
                    aria-controls="similar" aria-selected="false">Playlists</a>
                </li>
            </ul>
            <!-- End | Line Tabs -->

            <div class="tab-content" id="favoritesContent">
                <div class="tab-pane fade show active" id="tracks" role="tabpanel" aria-labelledby="tracks-tab">                
                    <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
                    <div class="container-header">
                        <span class="title">{{favorites?.track?.length || "No"}} Results</span>
                        <div class="ml-auto d-flex align-items-center">
                            <!-- <select class="select" name="sort" id="sort">
                                <option selected="">Popular</option>
                                <option value="0">A-Z</option>
                                <option value="1">Z-A</option>
                            </select> -->
                            <a class="icon" (click)="gridView = !gridView">
                                <i class="ion-md-reorder" *ngIf="gridView; else gridViewButton"></i>
                                <ng-template #gridViewButton>
                                    <i class="ion-md-apps"></i>
                                </ng-template>
                            </a>
                            <span>
                                <button type="button" (click)="prevPage('track')" [disabled]="page.track == 1" class="btn pr-2 btn-icon-only btn-transparent"><i class="ion-md-arrow-back"></i></button>
                                <button type="button" (click)="nextPage('track')" [disabled]="favorites.track.length / limit <= page.track" class="btn btn-icon-only btn-transparent"><i class="ion-md-arrow-forward"></i></button>
                            </span>
                        </div>
                    </div>
                    <!-- End | Container header -->

                    <div class="row custom-card-list">
                        <ng-container *ngIf="gridView; else listView">
                            <div class="col-xl-2 col-lg-3 col-sm-4" *ngFor="let track of favorites.track">
                                <app-primary-card [track]="track" [showOptions]="true"></app-primary-card>
                            </div>
                        </ng-container>
                        <ng-template #listView>
                            <div class="col-xl-6 col-lg-12" *ngFor="let track of favorites.track | slice:(page.track-1)*limit:page.track*limit; let i = index">
                                <app-track-list-view [trackNumber]="i+1" [track]="track" [icon]="'la-ellipsis-h'"></app-track-list-view>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="tab-pane fade" id="albums" role="tabpanel" aria-labelledby="albums-tab">
                    <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
                    <div class="container-header">
                        <span class="title">{{favorites?.album?.length || "No"}} Results</span>
                        <div class="ml-auto d-flex align-items-center">
                            <!-- <select class="select" name="sort" id="sort">
                                <option selected="">Popular</option>
                                <option value="0">A-Z</option>
                                <option value="1">Z-A</option>
                            </select> -->
                            <span>
                                <button type="button" (click)="prevPage('album')" [disabled]="page.album == 1" class="btn pr-2 btn-icon-only btn-transparent"><i class="ion-md-arrow-back"></i></button>
                                <button type="button" (click)="nextPage('album')" [disabled]="favorites.album.length / limit <= page.album" class="btn btn-icon-only btn-transparent"><i class="ion-md-arrow-forward"></i></button>
                            </span>
                        </div>
                    </div>
                    <!-- End | Container header -->

                    <div class="row custom-card-list">
                        <div class="col-xl-2 col-lg-3 col-sm-4" *ngFor="let album of favorites.album | slice:(page.album-1)*limit:page.album*limit">
                            <app-image-card [item]="album" type="album"></app-image-card>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="artists" role="tabpanel" aria-labelledby="artists-tab">
                    <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
                    <div class="container-header">
                        <span class="title">{{favorites?.artist?.length || "No"}} Results</span>
                        <div class="ml-auto d-flex align-items-center">
                            <span>
                                <button type="button" (click)="prevPage('artist')" [disabled]="page.artist == 1" class="btn pr-2 btn-icon-only btn-transparent"><i class="ion-md-arrow-back"></i></button>
                                <button type="button" (click)="nextPage('artist')" [disabled]="favorites.artist.length / limit <= page.artist" class="btn btn-icon-only btn-transparent"><i class="ion-md-arrow-forward"></i></button>
                            </span>
                            <!-- <select class="select" name="sort" id="sort">
                                <option selected="">Popular</option>
                                <option value="0">A-Z</option>
                                <option value="1">Z-A</option>
                            </select> -->
                        </div>
                    </div>
                    <!-- End | Container header -->

                    <div class="row custom-card-list">
                        <div class="col-xl-2 col-lg-3 col-sm-4" *ngFor="let artist of favorites.artist | slice:(page.artist-1)*limit:page.artist*limit">
                            <app-image-card [item]="artist" type="artist"></app-image-card>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="playlists" role="tabpanel" aria-labelledby="playlists-tab">
                    <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
                    <div class="container-header">
                        <span class="title">{{favorites?.playlist?.length ||"No"}} Results</span>
                        <div class="ml-auto d-flex align-items-center">
                            <!-- <select class="select" name="sort" id="sort">
                                <option selected="">Popular</option>
                                <option value="0">A-Z</option>
                                <option value="1">Z-A</option>
                            </select> -->
                            <span>
                                <button type="button" (click)="prevPage('playlist')" [disabled]="page.playlist == 1" class="btn pr-2 btn-icon-only btn-transparent"><i class="ion-md-arrow-back"></i></button>
                                <button type="button" (click)="nextPage('playlist')" [disabled]="favorites.playlist.length / limit <= page.playlist" class="btn btn-icon-only btn-transparent"><i class="ion-md-arrow-forward"></i></button>
                            </span>
                        </div>                        
                    </div>
                    <!-- End | Container header -->

                    <div class="row custom-card-list">
                        <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let playlist of favorites.playlist | slice:(page.playlist-1)*limit:page.playlist*limit">
                            <app-description-card [item]="playlist"  type="playlist"></app-description-card>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <!-- End | Section -->

    <!-- Songs -->
    <app-section *ngIf="songs?.items?.length > 0" [section]="songs" [carouselButtonPositionClass]="'arrow-pos-3'"
                 [primaryCard]="true" [showImageOptions]="true">
    </app-section>
</div>
<!-- End | Main Container -->
