<app-banner [backgroundImage]="albumDetails?.image | last" [blur]="true"></app-banner>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <div class="row section text-center text-md-left">
        <div class="col-xl-3 col-lg-4 col-sm-5">
            <img [src]="(albumDetails?.image | last) || 'assets/images/cover/extralarge.png'" alt="{{albumDetails?.name}}" class="card-img--radius-lg">
        </div>
        <div class="col-xl-9 col-lg-8 col-sm-7">
            <div class="row pt-4">
                <div class="col-xl-8 col-lg-6">
                    <h5>{{albumDetails?.name}}</h5>
                    <p *ngIf="albumDetails?.artist"><a routerLink="{{ '/artist/' +  albumDetails.artist }}">{{albumDetails?.artist}}</a></p>
                    <p targetblank [innerHTML]="albumDetails?.wiki?.summary"></p> 
                    <div class="text-warning tags mb-4">
                        <a routerLink="{{ '/tag/' +  tag }}" *ngFor="let tag of albumDetails?.tags"><span class="badge badge-pill badge-warning mr-2">{{tag | titlecase}}</span></a>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn btn-pill btn-air btn-bold btn-danger"
                                (click)="playAllSongs()">{{ 'ui.playall' | translate }}</button>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="pt-3 pt-lg-0 text-lg-right btn-inline">
                        <button type="button" (click)="addFavorite()" class="btn btn-pill btn-air btn-danger btn-icon-only"><i [ngClass]="isFavorite() ? 'la-heart' : 'la-heart-o'" class="la la-heart-o"></i></button>
                        <app-share [title]="albumDetails.name + ' by ' + albumDetails?.artist"
                                   [description]="'Listen to ' + albumDetails?.name + ' by ' + albumDetails?.artist"
                                   [image]="albumDetails?.image | last"
                                   [tags]="albumDetails?.tags.join(',')"></app-share>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="row section custom-card-list">
        <div class="col-xl-6 col-lg-12" *ngFor="let track of albumDetails?.tracks; let i = index">
            <app-track-list-view [trackNumber]="i+1" [track]="track" [imageSrc]="albumDetails.image[0]" [icon]="'la-ellipsis-h'"></app-track-list-view>
        </div>
    </div>
    <!-- End | Section -->
</div>
<!-- End | Main Container -->
