<perfect-scrollbar style="height: 100vh">
    <div *ngIf="done == true" class="d-flex align-items-center justify-content-center h-100">
        <div class="text-center px-3">
            <h1 class="display-4">{{ (success ? 'validation.success' : 'validation.error') | translate }}</h1>
            <p *ngIf="success"> {{ (action == 0 ? 'validation.accountvalidated' : 'validation.passwordchanged') | translate}}. <br> {{ 'validation.canlogin' | translate }}</p>
            <p *ngIf="!success">{{ (action == 0 ? 'validation.accounterror' : 'validationpassworderror') | translate }}: <br> <strong>{{ ('errors.api.' + error) | translate }}</strong></p>
            <button class="mt-2" type="button" routerLink="/home" class="load-page btn btn-pill btn-air btn-brand">{{ 'ui.gotohome' | translate }}</button>
        </div>
    </div>

    <div *ngIf="done == false" class="d-flex align-items-center justify-content-center h-100">
        <div class="text-center px-3">
            <h2>{{ 'validation.enternewpassword' | translate }}</h2>
            <form action="#" [formGroup]="reset" class="px-4 py-4 mt-4 card" (ngSubmit)="doReset(reset)" [ngClass]="formSubmitted ? 'submitted' : ''">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="ion-md-lock"></i></div>
                        </div>
                        <input type="password" formControlName="password" id="password" class="form-control" placeholder="{{ 'user.profile.newpassword' | translate }}">
                        <div class="invalid-feedback text-right" *ngIf="formSubmitted" ngClass="d-block">
                            <span *ngIf="reset.controls.password.errors?.required">{{ 'errors.form.required' | translate }}</span>
                            <span *ngIf="reset.controls.password.errors?.pattern">{{ 'errors.form.password' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="ion-md-lock"></i></div>
                        </div>
                        <input type="password" formControlName="repeatpassword" id="repeatpassword" class="form-control" placeholder="{{ 'user.profile.repeatpassword' | translate }}">
                        <div class="invalid-feedback text-right" *ngIf="formSubmitted" ngClass="d-block">
                            <span *ngIf="reset.controls.repeatpassword.errors?.required">{{ 'errors.form.required' | translate }}</span>
                            <span *ngIf="reset.errors?.equal">{{ 'errors.form.passwordmatch' | translate }}</span>
                        </div>
                    </div>
                </div>
                <app-button type="submit" class="btn-block" text="{{ 'user.profile.changepassword' | translate }}" [loading]="loading" classes="btn btn-block btn-bold btn-air btn-primary load-page"></app-button>
            </form>
        </div>
    </div>
</perfect-scrollbar>
